.sun{
    float:left;
    width:70px;
    height:70px;
}
.mercury{
    float:left;
    width:5px;
    height:5px;
}
.venus{
    float:left;
    width:30px;
    height:30px;
}
.earth{
    float:left;
    width:30px;
    height:30px;
}
.mars{
    float:left;
    width:15px;
    height:15px;
}
.jupiter{
    float:left;
    width:55px;
    height:55px;
}
.saturn{
    float:left;
    width:50px;
    height:50px;
}
.uranus{
    float:left;
    width:40px;
    height:40px;
}
.neptune{
    float:left;
    width:10px;
    height:10px;
}